.Carousel {
  margin-top: 20px;
  position: relative;
}

.image-container {
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 30vh; 
  border-radius: 30px;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .image-container {
    height: 20vh; 
  }
}

@media (max-width: 480px) {
  .image-container {
    height: 20vh; 
  }
}
