.marquee-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f8d348; 
    padding: 5px 5px; 
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc; 
    height: 40px; 
  }

  .announcement-icon {
    margin-right: 8px;
    font-size: 1.2rem; 
    color: #ff6600; 
    flex-shrink: 0;
  }
  
  
  .marquee-content {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  
  .marquee-content p {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 12s linear infinite; 
    font-size: 0.9rem; 
    font-weight: 500;
    color: #0056b3; 
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
