.marquee-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f8d348; 
    padding: 5px 5px; 
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc; 
    height: 40px; 
  }

  .announcement-icon {
    margin-right: 8px;
    font-size: 1.2rem; 
    color: #ff6600; 
    flex-shrink: 0;
  }
  
  /* Marquee content */
  .marquee-content {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  
  /* Text animation */
  .marquee-content p {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 12s linear infinite; /* Adjust speed if needed */
    font-size: 0.9rem; /* Reduced text size */
    font-weight: 500; /* Less bold */
    color: #0056b3; /* Changed text color to a dark blue */
  }
  
  /* Keyframe animation for the marquee effect */
  @keyframes marquee {
    0% {
      transform: translateX(100%); /* Start the text outside the right side */
    }
    100% {
      transform: translateX(-100%); /* End the text outside the left side */
    }
  }
  